absl-py==1.4.0
adjustText==0.8
aiobotocore==2.5.3
aiohttp==3.8.4
aioitertools==0.11.0
aiosignal==1.3.1
anndata==0.8.0
anndata2ri==1.1
annoy==1.17.2
anyio==3.7.0
appnope==0.1.3
arrow==1.2.3
asttokens==2.2.1
async-timeout==4.0.2
attrs==23.1.0
backcall==0.2.0
backoff==2.2.1
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
beautifulsoup4==4.12.2
blessed==1.20.0
blosc2==2.0.0
botocore==1.31.17
cached-property==1.5.2
cachetools==5.3.1
cellxgene-census==1.5.0
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
chex==0.1.7
click==8.1.3
comm==0.1.3
contextlib2==21.6.0
contourpy==1.1.0
croniter==1.3.15
cycler==0.11.0
Cython==0.29.35
dateutils==0.6.12
debugpy==1.6.7
decorator==5.1.1
decoupler==1.4.0
deepdiff==6.3.0
Deprecated==1.2.14
dm-tree==0.1.8
dnspython==2.3.0
docrep==0.3.2
doubletdetection==4.2
dunamai==1.17.0
et-xmlfile==1.1.0
etils==1.3.0
exceptiongroup==1.1.1
executing==1.2.0
fastapi==0.88.0
fbpca==1.0
filelock==3.12.2
flax==0.6.10
fonttools==4.40.0
frozenlist==1.3.3
fsspec==2023.6.0
future==0.18.3
geosketch==1.2
get_version==3.5.4
google-auth==2.20.0
google-auth-oauthlib==1.0.0
googleapis-common-protos==1.63.0
grpcio==1.54.2
gtfparse==2.0.1
h11==0.14.0
h5py==3.9.0
hyperopt==0.1.2
idna==3.4
igraph==0.10.4
imageio==2.31.1
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1682176699712/work
importlib-resources==5.12.0
inquirer==3.1.3
intervaltree==3.1.0
ipykernel==6.23.2
ipython==8.14.0
ipywidgets==8.0.6
itsdangerous==2.1.2
jax==0.4.12
jaxlib==0.4.12
jedi==0.18.2
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
jupyter_client==8.2.0
jupyter_core==5.3.1
jupyterlab-widgets==3.0.7
kiwisolver==1.4.4
lazy_loader==0.2
leidenalg==0.9.1
lightning==2.0.3
lightning-cloud==0.5.36
lightning-utilities==0.8.0
llvmlite==0.39.1
louvain==0.8.0
Markdown==3.4.3
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.7.1
matplotlib-inline==0.1.6
mdurl==0.1.2
ml-collections==0.1.1
ml-dtypes==0.2.0
mpmath==1.3.0
msgpack==1.0.5
mudata==0.2.3
multidict==6.0.4
multipledispatch==0.6.0
natsort==8.4.0
nest-asyncio==1.6.0
networkx==3.1
numba==0.56.4
numexpr==2.8.4
numpy==1.23.5
numpyro==0.12.1
oauthlib==3.2.2
openpyxl==3.1.2
opentelemetry-api==1.21.0
opentelemetry-exporter-otlp-proto-common==1.21.0
opentelemetry-exporter-otlp-proto-http==1.21.0
opentelemetry-proto==1.21.0
opentelemetry-sdk==1.21.0
opentelemetry-semantic-conventions==0.42b0
opt-einsum==3.3.0
optax==0.1.5
orbax-checkpoint==0.2.6
ordered-set==4.1.0
packaging==23.1
pandas==2.0.2
parso==0.8.3
patsy==0.5.3
pexpect==4.8.0
PhenoGraph==1.5.7
pickleshare==0.7.5
Pillow==9.5.0
platformdirs==3.7.0
plottable==0.1.5
polars==0.16.18
prompt-toolkit==3.0.38
protobuf==4.23.3
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyarrow==12.0.1
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pydantic==1.10.9
pyDeprecate==0.3.2
pydeseq2==0.3.5
pydot==1.4.2
Pygments==2.15.1
PyJWT==2.7.0
pymongo==4.3.3
pynndescent==0.5.10
pyparsing==3.1.0
pyro-api==0.1.2
pyro-ppl==1.8.5
python-dateutil==2.8.2
python-editor==1.0.4
python-multipart==0.0.6
pytorch-lightning==1.7.7
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.4.1
PyYAML==6.0
pyzmq==25.1.0
readchar==4.0.5
requests==2.31.0
requests-oauthlib==1.3.1
rich==13.4.2
rpy2==3.5.12
rsa==4.9
s3fs==2023.6.0
scanorama==1.7.3
scanpy==1.9.3
scgen==2.1.0
scib==1.0.4
scib-metrics==0.3.3
scikit-image==0.21.0
scikit-learn==1.2.2
scikit-misc==0.2.0
scipy==1.10.1
scrublet==0.2.3
scvi==0.6.8
scvi-tools==1.0.0
seaborn==0.12.2
session-info==1.0.0
six==1.16.0
sniffio==1.3.0
somacore==1.0.3
sortedcontainers==2.4.0
soupsieve==2.4.1
sparse==0.14.0
stack-data==0.6.2
starlette==0.22.0
starsessions==1.3.0
statsmodels==0.14.0
stdlib-list==0.8.0
sympy==1.12
synapseclient==4.1.1
tables==3.8.0
tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorstore==0.1.38
texttable==1.6.7
threadpoolctl==3.1.0
tifffile==2023.4.12
tiledb==0.21.6
tiledbsoma==1.2.7
toolz==0.12.0
torch==2.0.1
torchmetrics==0.11.4
tornado==6.3.2
tqdm==4.65.0
traitlets==5.9.0
typing_extensions==4.6.3
tzdata==2023.3
tzlocal==4.3
umap-learn==0.5.3
urllib3==1.26.18
uvicorn==0.22.0
wcwidth==0.2.6
websocket-client==1.6.0
websockets==11.0.3
Werkzeug==2.3.6
widgetsnbextension==4.0.7
wrapt==1.15.0
xarray==2023.5.0
xlrd==2.0.1
yarl==1.9.2
yellowbrick==1.5
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1677313463193/work
